<mat-toolbar>
    <button *ngIf="canGoBack == true" class="back-button" mat-raised-button (click)="goBack()">
        <mat-icon>arrow_back_ios</mat-icon>
        Back
    </button>

    <span class="spacer"></span>

    <button mat-raised-button *ngIf="isAuthenticated" (click)="gotoCollection()">
        <mat-icon>nature_people</mat-icon>
        Collected Pokémon
    </button>
  </mat-toolbar>