
mat-toolbar { // Material UI Toolbar div class
    background-color: #1b2132;;
    color: white;
    
    position: fixed;
    height: 64px;
    z-index: 2;

    margin-bottom: 100px;
}

.navbarLogo {
    width: 100px;

    position: absolute;
    left: 10%;
    transform: translateX(-50%);
}

.spacer {
    flex: 1 1 auto;
}