<mat-toolbar>
    <span>{{ navTitle }}</span>
    <img class="navbarLogo" src="./assets/logo.png" (click)="OnLogoClick()"/>

    <span class="spacer"></span>

    <button mat-raised-button (click)="OnLogoutClick()" *ngIf="isAuthenticated">
        Logout
        <mat-icon>sensor_door</mat-icon>
    </button>
</mat-toolbar>