<mat-grid-list cols=6 gutterSize="10px" rowHeight="400px">
    <mat-grid-tile *ngFor="let pokemon of pokemons">
        <app-grid-item [Pokemon]="pokemon"></app-grid-item>
    </mat-grid-tile>
</mat-grid-list>