$trainerDivColor: rgb(255,203,5);
$trainerDivAccentColor: rgba($trainerDivColor, 0.5);
$trainerTextColor: rgb(40, 40, 40);

p {
    text-align: center;
}

.spacer {
    width: 100%;
    height: 0px;
    margin: 16px 0px;
    display: block;
}

.trainer-div {
    background-color: rgba($trainerDivColor, 0.2);
    color: $trainerTextColor;

    width: 300px;
    //height: 128px;

    padding: 24px 12px;

    position: absolute;
    left: 50%;
    top: 20%;

    transform: translateX(-50%) translateY(-20%);

    border-radius: 20px;
    border: 2px solid rgba($trainerDivAccentColor, 0.5);
}

.trainer-name {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.register-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.mainImage {
    width: 50vw;

    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);

    //animation: fade 10s linear;
    //animation-iteration-count:infinite;
}

.image {
    width: 30vw;
    position: absolute;
}

.pikachu {
    width: 10vw;

    top: 76%;
    right: 35%;
    transform: translateY(-76%);
}

.squirtle {
    width: 15vw;

    top: 70%;
    left: 40%;
    transform: translate(-40%, -70%);
}

.grookey {
    width: 10%;
    top: 76%;
    right: 5%;

    transform: translate(-5%, -76%);
}

.squad {
    width: 50vw;
    bottom: 0px;
}

@keyframes fade {
    0% {
        filter: sepia(0%);
    }
    50% {
        filter: sepia(100%) contrast(200%) hue-rotate(360deg);
    }

    100% {
        filter: sepia(0%);
    }
}