$colorPokemonCard: #1b2132;
$colorBlack: rgb(40, 40, 40);
$colorWhite: rgb(255, 255, 255);
$colorBlue: rgb(61,125,202);
$colorNavyBlue: rgb(0,58,112);

$animationTime: 0.5s;

.pokemonItem {
    position: absolute;
    top: 0px;
    left: 50%;

    transform: translateX(-50%);

    width: 100%;
    height: 100%;

    background-color: $colorPokemonCard;
    color: $colorWhite;

    border-radius: 25px;
}

.pokemonItem:hover {
    background-color: $colorPokemonCard;
    color: $colorWhite;
    box-shadow:inset 0px 0px 0px 5px $colorWhite;

    cursor: pointer;
}

.pokemonTitle {
    position: absolute;
    top: 20%;

    left: 50%;
    transform: translateX(-50%);

    width: 100%;

    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
}

.pokemonImage {
    width: 200px;

    position: absolute;
    bottom: 20%;

    left: 50%;
    transform: translateX(-50%);

    user-select: none;

    // filter: blur(5px);
    
    border-radius: 0%;
    animation: imageHoverOut $animationTime forwards;

    padding: 5px;
}

.pokemonItem:hover .pokemonImage {
    background-color: rgba($colorWhite, 0.3);
    // filter: blur(0px);

    border-radius: 80%;
    animation: imageHoverIn $animationTime backwards;
}

@keyframes imageHoverIn {
    0% {
        // filter: blur(5px);
        background-color: rgba($colorBlack, 0.3);
        border-radius: 0%;
    }
    100% {
        // filter: blur(0px);
        background-color: rgba($colorWhite, 0.3);
        border-radius: 80%;
    }
}

@keyframes imageHoverOut {
    0% {
        // filter: blur(0px);
        background-color: rgba($colorBlack, 0.3);
        border-radius: 40%;
    }
    100% {
        // filter: blur(5px);
        background-color: rgba($colorWhite, 0);
        border-radius: 0%;
    }
}