<div class="pokemonItem" (click)="OnMouseClick()">
    <p class="pokemonTitle">{{ Name }}</p>
    <img class="pokemonImage" src="{{ Sprite }}" />
    <!--<img class="pokemonImage" src="./assets/pokeball.png" />-->
</div>