body, html {
    height: 100%;
    overflow: hidden !important;
}

app-navbar {
    display: block;
    height: 64px;
    margin-bottom: 24px;
}

app-actionbar {
    display: block;
    height: 64px;
    margin-top: 24px;
}