<mat-card class="example-card" *ngIf="Pokemon != null">
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-size: 24px;">{{ Name | titlecase }}</mat-card-title>
      <mat-card-subtitle style="color: white; ">Species: {{ Name | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ Sprite }}" alt="Sprite of {{Pokemon.name | titlecase}}">
    <mat-card-content class="boxInfo" style="color: white">
        <h2>Information</h2>
        <p>Height: {{ Height }} cm</p>
        <p>Weight: {{ Weight }} grams</p>

        <mat-tab-group style="color: white">
          <mat-tab  style="color: white" label="Abilities" *ngIf="Abilities.length > 0">
            <ul>
              <li style="text-align: left;" *ngFor="let ability of Abilities">
                  <b>{{ ability.name | titlecase }}</b>
                  <br/>
                  <small *ngFor="let effect of ability.effect_entries">{{ effect.effect }}</small>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="Moves" *ngIf="Moves.length > 0">
            <mat-grid-list class="movesBox" cols=3 gutterSize="5px">
              <mat-grid-tile class="moveTile" *ngFor="let move of Moves" matTooltip="Test">
                <div style="color: white">
                  <b>{{ move.name | uppercase }}</b>
                  <p *ngFor="let effect of move.effect_entries">{{ effect.effect }}</p>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="OnCollect()" *ngIf="IsCollected">ADD TO COLLECTION</button>
      <button mat-raised-button (click)="OnRemove()" *ngIf="!IsCollected">REMOVE FROM COLLECTION</button>
    </mat-card-actions>
  </mat-card>