

mat-card {
    max-width: 80vw;
    //max-height: 60vh;
    position: relative;
    color: white;
    background-color: #1b2132;

    left: 50%;
    transform: translateX(-50%);
}


img {
    width: 256px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.moveTile {
    background-color: #1b2132;
    color: white;

    border: 1px solid white;
    border-radius: 15px;

    text-align: center;
}

.movesBox {
    height: 50%;
    width: 99%;
}

.boxInfo {
    text-align: center;
}

.mat-tab-label-content {
    color: green
}